/* css=0 start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* css=0 end */


a{
	color: inherit;
}

#nav{
	height: 40px;
	font-size: 20px;
	letter-spacing: 3px;
	width: 100%;
	background-color: #042D4F;
	color: white;
	text-align: center;
	font-weight: 600;
	line-height: 40px;
	box-shadow: 0px 0px 4px white;
	border-style: solid;
	animation-name:opacity_text;
		animation-duration:2.5s;
		animation-timing-function: ease-out;

	}
	@keyframes opacity_text{
	0%{
		color:#042D4F;
		line-height: 0px;

	}
	85%{
		color:#042D4F;
		line-height: 0px;

	}
	95%{
		line-height: 45px;

	}
	100%{
		color: white;
		line-height: 40px;

	}
	}


h1{
   font-size: 0;

}

#banner{
  width:100vw;
  height:700px;
	margin-top: 0;
  background-image: url(img_201910/banner_background.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #01345F;

}
#banner_img{
	width: 98%;
	animation-name:opacity;
    animation-duration:2s;
}
@media screen and (max-width: 600px) {
	#banner_img{
		width: 90%;
}}

@keyframes opacity{
	0%{
		opacity: 0;
	}
	20%{
		opacity: 0;
	}
	100%{
			opacity: 1;
			animation-play-state:paused;
	}
}

.container_banner_img{
	width:460px;
	display: block;
  margin: 0 auto;
  padding: 250px 0 100px 0;
}

.banner_timeline_1{
	animation-name:opacity;
	animation-duration:3.5s;
	animation-timing-function: ease;
}

.banner_timeline{
	animation-name:opacity_timeline;
		animation-duration:2s;
		animation-timing-function: ease;
}

@keyframes opacity_timeline{
	0%{
		opacity: 0;
	}
	60%{
		opacity: 0.8;
	}

	100%{
			opacity: 1;
			animation-play-state:paused;
	}
}

.container_banner_timeline{
	width:450px;
	display: block;
	margin:0 auto;
}

@media screen and (max-width: 450px) {
	.container_banner_img{
		width:100%;
	}
	.container_banner_timeline{
		width: 95%;}

	.banner_timeline{
		grid-column-gap: 35px;

		}

	}
svg{
	display: block;
	margin: 0 auto;
	}
path {
	stroke: #1568B6;
	fill:none;
	stroke-width:1;
	animation-name:line;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes line{
	30%{
		stroke: white;
	}
	100%{
		stroke: #1568B6;
	}
}



h1,h2,h3,h4,h5,h6,p{
	font-family: 'Noto Sans TC', sans-serif !important;
    text-align: center;
}

h5{
	font-weight: 600;
	font-size:22px;
	letter-spacing: 2px;
	line-height: 35px;
	padding-top: 15px;
	color: white;
	opacity: 0.8;
	height: 85px;
	font-weight: 700;
	border-radius: 5px;
	border-style: hidden;
}
h6{
	color:white;
	line-height: 26px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 4px;

}

h4{
  font-weight:600;
  font-size: 26px;
  color: #FDE33F;
    letter-spacing: 2px;
}
h3{
  font-weight:700;
  font-size: 36px;
  color: #1568B6;
  letter-spacing: 5px;
  line-height: 50px;
	margin: 35px 0;
}
.section_1_event,.section_1_event_description{
  font-weight:600;
  font-size: 20px;
  color: #333;
    letter-spacing: 1px;
		line-height: 36px;
		margin: 50px 20px;
}
.section_1{
	animation-name:opacity;
		animation-duration:6s;
}
.section_1_event_img{
	display: block;
	margin: 0 auto;
}


.container_section_1_timeline_label{
	display: block;
	margin: 50px auto;
	width: 460px;
}


.section_1_timeline_label{
	display: grid;
	grid-template-columns: 100px 100px 100px 100px;
	width: 460px;
	grid-gap: 20px;
}
.section_1_timeline_label{
	font-size: 16px;
	color: #1568B6;
line-height: 26px;
text-align: center;
	font-weight: 700;
}
.section_1_timeline_label_border{
	border-style: solid;
	border-color: #1568B6;
	border-width: 2px;
	border-radius:20px;
	width:100px;
	height: 26px;
}


.section_1,.section_3,.section_4,.section_5{
  margin: 100px 0;
}


.timeline{
  height: 350px;
  width: 100%;
}
.container_timeline{
		width: 1000px;
		display: block;
		margin:0 auto;
}

.timeline_gird{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 2%;
	width: 100%;
}

@media screen and (max-width: 1000px) {
.text350{
display: none;
}
.timeline_gird{
	display: block;
	margin: 0 auto;
}
.container_timeline{
	width: 95vw;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 0%;
}
.text350_1000{
	display: block !important;
	margin: 0 auto !important;

}
img{
	display: block;
	margin: 0 auto;
}
}

@media screen and (max-width: 350px) {
.text350_1000{
	width: 96vw;
}
.adHub_logo{
	width: 80% !important;
}
img{
	width:200px;
}
.text350_1000{
	height: 200px !important;
}
}

.text350_1000{
	display: none;
	height: 350px;
}
.text350{
	width:350px;
	height: 350px;
	margin-right: 20px;
}
.timeline_section{
	margin-top: 50px;
}
.timeline_label_border{
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-radius:20px;
	width:120px;
	height: 30px;
}
.timeline_label{
	font-size: 20px;
	color: white;
line-height: 30px;
}

@media screen and (max-width: 400px){
	.timeline_description{
		display: none;
	}
}

.timeline_title{
	font-weight: 700;
	font-size:28px;
	letter-spacing: 4px;
	line-height:36px;
	padding-top: 20px;
	color: #FDE33F;
	text-align: left;
}
.timeline_description{
	color: white;
	letter-spacing: 5px;
	font-weight: 500;
	font-size:20px;
	letter-spacing: 2px;
	line-height: 26px;
	text-align: left;
	margin-top: 5px;
}
.timeline_speaker{
	font-weight: 500;
	font-size:26px;
	letter-spacing: 2px;
	line-height: 30px;
	color: white;
	text-align: left;
}
.timeline_contioner{
	margin-top: 40px;
}
.timeline_speaker_description{
	font-weight: 500;
	font-size:18px;
	letter-spacing: 2px;
	line-height: 22px;
	margin-top: 10px;
	color:  white;
		text-align: left;
}
.timeline_1{
	  height: 350px;
		width: 100%;

	background-image: url(img_201910/timeline_1.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #1568B6;

}
.timeline_2{
	height: 350px;
	width: 100%;
	background-image: url(img_201910/timeline_2.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #1684B5;

}
.timeline_3{
	height: 350px;
	width: 100%;
	background-image: url(img_201910/timeline_3.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #1697B5;

}
.timeline_4{
	height: 350px;
	width: 100%;
	background-image: url(img_201910/timeline_4.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #196EAF;

}
.container_organizer{
	width: 1000px;
	display: block;
	margin: 40px auto;
}
.organizer{
		display: grid;
		grid-template-columns: 5fr 7fr;
		width: 100%;
		grid-column-gap: 3%;
}


.adHub_logo{
	width: 300px;
	display: block;
	margin: 40px auto;
}
.SoWork_logo{
	width: 210px;
	display: block;
	margin: 20px auto;
}
.organizer_title{
	line-height: 36px;
	font-size: 22px;
	text-align: left;
		font-weight: 600;
		margin: 10px auto;
		letter-spacing: 1px;

}
.organizer_description{
	line-height: 26px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	letter-spacing: 1px;
}

@media screen and (max-width: 1200px){
	.container_organizer{
	width: 100%;
	}
	.organizer{
	display:block;
	margin:0 auto;
	}
	.organizer_title{
	padding: 0 30px;
	text-align: center !important;
	padding-bottom: 10px;
	padding-top: 20px;

	}
	.organizer_description{
	padding: 0 30px;

	}
}
.co-organizer{
	margin: 100px 0;
}
.container_co-organizer{
	width:800px;
	display: block;
	margin: 0 auto;
}
.co-organizer_logo_img{
	width: 100%;
	display: block;
	margin: 0 auto;
}
.co-organizer_logo_1{
	display: grid;
	grid-template-columns: 240px 240px 240px;
	grid-column-gap: 40px;
	margin: 100px auto;
}
.co-organizer_logo_2{
	display: grid;
	grid-template-columns: 240px 240px;
	padding: 0 100px;
	grid-column-gap: 120px;
	margin: 100px auto;
}



@media screen and (max-width: 800px){
	.container_co-organizer{
		width:60vw;
		display: block;
		margin: 0 auto;
	}
	.co-organizer_logo_1{
		display: block;
		margin: 0 auto;
		padding: 0;

	}
	.co-organizer_logo_2{
		display: block;
		margin: 0 auto;
		padding: 0;

	}
	.co-organizer_logo_img{
		width: 250px;
			display: block;
			margin: 50px auto;
	}
}



@media screen and (max-width: 500px){
	.co-organizer_logo_img{
		width: 90%;
	}
}



.section_4{
	background-image: url(img_201910/schedule_background.jpg);
	padding: 100px 0;
	background-repeat: no-repeat;
background-position: bottom;
background-color: #08345A;

}
h2{
	font-weight:700;
  font-size: 26px;
  color: #1568B6;
  letter-spacing: 3px;
  line-height: 30px;
}
.container_schedule{
	width: 480px;
	display: block;
	margin: 0 auto;
}
@media screen and (max-width: 480px){
	.container_schedule{
		width: 100%;}
}
.schedule_gird{
	display: grid;
	grid-template-columns: 4fr 7fr;
	grid-column-gap: 30px;

}
.schedule_gird_space{
	margin: 60px auto;
}

.schedule_time, .schedule_place,.schedule_city{
	text-align: left;
}
.schedule_time, .schedule_place{
	color: white;
}
.schedule_city{
	font-size: 30px;
	letter-spacing: 6px;

}
.schedule_date{
	font-size: 26px;
	line-height: 40px;
	border-right: 1px;
	border-color: white;
	border-style: solid;
}
.schedule_time{
	line-height: 40px;
}
.schedule_place{
	font-size: 20px;
	font-weight:400;
	letter-spacing: 2px;
}




/*以下為表單*/
.form_content{
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-top: 20px;
}
.remarks{
	font-size: 16px;
	font-weight: 400;
}

.form{
	width:450px;
	position:relative;
	margin: 50px auto;
}
@media screen and (max-width: 500px) {
	.form{
width:98vw;
}
}
.label,label{
	font-size: 16px;
	line-height: 30px;
	font-weight: 600;
}
.red{
	color:#1568B6;
	font-weight: 400;
	font-size: 0px;
}
select{
width: 100%;
margin-bottom: 5px;
height: 40px;
background-color: #d4d4d4;
border-style: hidden;
	margin-bottom: 10px;
}

input{
	width: 98%;
	margin-bottom: 5px;
	height: 30px;
	background-color: #d4d4d4;
	border-style: hidden;
		margin-bottom: 10px;
		font-size: 16px;
}

.invisible{
	font-size: 0px;
	background-color: transparent;
}
button{
	display:block;
	margin: 50px auto;
	width: 200px;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 400;
	color: #FFF;
	background-color: #1568B6;
	height: 40px;
	line-height: 35px;
	border-radius: 0px;
	box-shadow: 0px 3px 6px #F0F0F0;
	border-style: solid;
	text-align: center;
	border-radius: 5px;
}
button:hover{
	background-color: #FFF;
	color: #1568B6;
	border-color: #1568B6;
	border-width: 2px;
}

/*以下為footer*/

.footer_1{
  background-color: #1E1E1E;
}

.footer_container{
  padding: 35px 0 35px 0;
  width: 80vw;
  display: block;
	margin-left: 5%;

}

.footer_content{
  color: #FFF;
  font-size: 14px;
line-height: 24px;
letter-spacing:1px;
text-align: left;
  }

.footer_link{
  color:#CCC;
    font-size: 14px;
		text-align: left;
		line-height: 24px;

}
.footer_left{
  float: left;
  padding-left: 10%;
	text-align: left;

}
.footer_right{
  text-align: right !important;
  float: right;
  padding-right: 10%;
}
.footer_2{
  background-color: #1568B6;
  width: 100vw;
  height: 30px;
  line-height: 30px;
  color: #FFF;
  text-align: center;
  letter-spacing: 1px;
	font-size: 14px;
}

.footer_2:hover{
  font-weight: 700;
  letter-spacing: 1px;
}
.thankyoupage{
	display: block;
	margin: 50px auto;
	padding-top: 100px;
}
.thankyoupage_title{
	font-size: 40px;
	letter-spacing: 10px;
	line-height: 50px;
	margin: 50px 0 20px 0;
}
.thankyoupage_description{
	text-align: center;
	line-height: 30px;
	margin: 10px 0 50px 0;
	letter-spacing: 1px;

}
.thankyoupage_adHub{
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 18px;
}
.thankyoupage_button_1, .thankyoupage_button_2{
	text-align: center;
display: block;
	margin: 0 auto;
}
.thankyoupage_button_1{
	margin-top: 50px;
}
a{
 text-decoration-line: none;
}
